* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.close-pop-up {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 0px 5px;
    border-radius: 5px;
}
.close-pop-up:hover{
    background-color: darkgrey;
}

.pop-up-name, .pop-up-person-infor, .pop-up-score {
    margin: 0px 0px 20px 0px;
    position: relative;
}

.pop-up-infor {
    width: 220px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    z-index: 3;
    text-align: left;
    background-color: antiquewhite;
    margin: 0px 33px;
    top: 0px;
    left: 180px;
    transition: 0.5s;
}

.show-detail-stu[action="active"] .pop-up-infor {
    opacity: 1;
    z-index: 3;
    transform: scale(1);
}

.show-detail-stu {
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.show-detail-stu.active {
    background-color: #9e9e9e6e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.more-info {
    text-align: left;
    padding: 20px;
    border-bottom: solid 1px;
}

.name-stu {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px;
}

.avatar-stu {
    width: 100px;
    height: 100px;
    border: solid 1px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infor-stu {
    text-align: center;
    width: 200px;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    margin: 13px;
    background-color: whitesmoke
}

body {
    padding-top: 100px;
    margin: 0 auto;
    font-size:  13px;
}

.fake-body{
    width: 100vw;
    height: 100vh; 
    position: absolute;
    background-color: #ab8e8eba;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.enable .fake-body{
    z-index: 2;
    opacity: 0.7;
}

.show-stu{
    width: 1200px;
    height: auto;
    border: solid 1px;
    font-family: tahoma;
    padding: 23px;
    display: inline-block;
    overflow: hidden;
}
.arrow.top-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent antiquewhite transparent transparent;
    position: absolute;
    left: -13px;
    top: 10px
}

.arrow.bottom-left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent antiquewhite transparent transparent;
    position: absolute;
    left: -13px;
    bottom: 10px
}

.arrow.top-right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent antiquewhite transparent transparent;
    position: absolute;
    right: -13px;
    top: 10px;
    transform: rotate(180deg);
}

.arrow.bottom-right{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent antiquewhite transparent transparent;
    position: absolute;
    right: -13px;
    bottom: 10px;
    transform: rotate(180deg);
}
